@font-face {
    font-family: "roboto-slab";
    src: url("../fonts/Roboto_Slab/static/RobotoSlab-Light.ttf");
}

@font-face {
    font-family: "figtree-medium";
    src: url("../fonts/Figtree/static/Figtree-Medium.ttf");
}