$primary-color: #0F1C2E;
$hover-color: #595e64;
$secondary-color: #4ECA8A;
$color-accent: #4DA3FF;
$text-color: white;

$white: aliceblue;
$grayish-blue: #003249;
$burgerTransition: all 300ms ease-in-out;

$bgBlue: #001d38;
$cardBlue: #0a2640;
$font: "Poppins";

$title-font: "roboto-slab";
$main-font: "figtree-medium";