$primary-color: #0F1C2E;
$secondary-color: #4ECA8A;
$color-accent: #4DA3FF;
$text-color: white;

$white: aliceblue;
$grayish-blue: #003249;
$burgerTransition: all 300ms ease-in-out;

$title-font: "roboto-slab";
$main-font: "figtree-medium";