// Base

@use "base/container";
@use "base/fonts";

// components


// layout

@use "layout/body";
@use "layout/header";
@use "layout/main";
@use "layout/hero";
@use "layout/about";
@use "layout/skills";