// Base

@use "base/container";
@use "base/fonts";

// components

@use "components/skill-card";

// layout

@use "layout/body";
@use "layout/header";
@use "layout/hero";
@use "layout/about";
@use "layout/skills";
@use "layout/projet";
@use "layout/footer";
@use "layout/toTop";