@use '../abstracts/variables' as var;

.skill-card {
    display: flex;
    background-color: var.$white;
    padding: 2px;
    max-height: 50px;
    border: 2px solid transparent;

    align-items: center;
    gap: 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
    text-align: center;

    div {
        svg {
            height: 30px;
        }

    }

    p {
        color: var.$primary-color;
    }

    &:hover {
        background-color: var.$hover-color;
        border: 2px solid var.$white;

        p {
            color: var.$white;
        }
    }

}