@use '../abstracts/variables' as var;

.skill-card {
    display: flex;
    background-color: var.$white;
    padding: 2px;
    max-height: 50px;

    align-items: center;
    gap: 10px;
    border-radius: 5px;

    div {
        svg {
            height: 30px;
        }

    }

    p {
        color: var.$primary-color;
    }

}