@use '../abstracts/variables' as var;

.skill-card {
    display: flex;
    background-color: var.$white;
    padding: 0 0.2rem;
    max-height: 50px;

    align-items: center;
    justify-content: space-around;
    gap: 10px;

    div {
        svg {
            height: 30px;
        }

    }

    p {
        color: var.$primary-color;
    }

}