@use '../abstracts/variables' as var;

body {
    margin: 0;
    font-family: var.$main-font;
    background-color: var.$primary-color;
    color: var.$text-color;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}