@use '../abstracts/variables' as var;

footer {
    margin-top: 20px;
    background-color: var.$secondary-color;
    text-align: center;

    p {
        margin: 0;
    }

    .container {
        padding: 0;

        nav {
            border-bottom: 1px solid white;
            padding: 30px 0;

            ul {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                @media screen and (max-width: 425px) {
                    flex-direction: column;
                }

                li {
                    margin: 10px 0;
                }
            }
        }
    }
}