@use '../abstracts/variables' as var;

header {

    div {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .hamburger-menu {
            margin-right: 25px;
            $self: &;
            width: 40px;
            height: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            border: 0;
            outline: 0;
            background: transparent;
            cursor: pointer;
            z-index: 9999999;

            &__line {
                height: 3px;
                background-color: var.$white;
                width: 100%;
                display: block;
                transition: var.$burgerTransition;
            }

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: var.$white;
                top: 5px;
                left: 0;
                transition: var.$burgerTransition;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: var.$white;
                left: 0;
                bottom: 5px;
                transition: var.$burgerTransition;
            }

            &--active {
                &:after {
                    transform: rotate(-320deg);
                    bottom: 13px;
                }

                &:before {
                    transform: rotate(320deg);
                    top: 15px;
                }

                #{$self}__line {
                    opacity: 0;
                    width: 0;
                }
            }
        }
    }


    #slide_menu {
        position: fixed;
        height: 40%;
        width: 100%;
        background-color: var.$secondary-color;
        z-index: 550;
        top: 0px;
        right: 0px;
        display: none;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @keyframes slide-in-top {
            0% {
                transform: translateY(-1000px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        ul {
            flex-wrap: nowrap;
            height: 100vh;
            list-style: none;
            padding: 0;
            text-align: center;

            a {
                position: relative;
                display: inline-block;
                padding-bottom: 3px;
                text-decoration: none;
                color: black;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 5px;
                    background: black;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }

                span {
                    img {
                        height: 100px;
                    }
                }
            }

            li {
                display: block;
                font-size: 50px;
                margin: 50px;
                cursor: pointer;
                z-index: 30;
                position: relative;

                @media screen and (max-width: 425px) {
                    font-size: 30px;
                }

            }
        }
    }
}