@use '../abstracts/variables' as var;

.hero {
    text-align: center;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;

    div {


        h1 {
            font-family: var.$title-font;
        }
    }

}