@use '../abstracts/variables' as var;

#projet {
    .container {
        text-align: center;
        margin-top: 10rem;
        padding: 0;

        .see-all {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            div {
                padding: 15px;

                a {
                    color: var.$primary-color;
                }
            }
        }

        .projet-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                margin: 0 10px;
            }


            .projet-content {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;

                .see-more {
                    padding: 10px;

                    a {
                        color: var.$primary-color;
                    }

                }

                .projet-method {
                    display: flex;
                    gap: 10px;
                }

            }

            .projet-aucazein {
                background-image: url(../img/projet-aucazein.png);
            }

            .projet-baldure-gate {
                background-image: url(../img/projet-baldure-gate.png);
            }

            .projet-clair-obscure {
                background-image: url(../img/projet-clair-obscure.png);
            }

            .projet-espace-reno {
                background-image: url(../img/projet-espace-reno.png);
            }

            .projet-instadog {
                background-image: url(../img/projet-instadog.png);
            }

            .projet-magic {
                background-image: url(../img/projet-magic.png);
            }

            .projet-card {
                position: relative;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                min-height: 250px;
                width: 100%;
                overflow: hidden;
                cursor: pointer;
                transition: 0.4s all ease;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    transition: 0.4s all ease;
                }

                .projet-content {
                    position: relative;
                    z-index: 2;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s all ease;
                }

                &:hover {
                    transform: scale(1.30);
                    z-index: 300;

                    &::before {
                        background: rgba(0, 0, 0, 0.6);
                    }

                    .projet-content {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .hover-test {
                background-color: var.$secondary-color;
            }

        }


    }
}