@use '../abstracts/variables' as var;

#skills {
    margin-top: 10rem;
    margin-left: 40%;
    text-align: center;
    background-color: var.$secondary-color;
    padding: 2rem;

    .skill-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;

        .skill-card {
            display: flex;
            background-color: var.$primary-color;
            padding: 0 0.2rem;
            max-width: 8rem;
            max-height: 50px;

            align-items: center;
            justify-content: space-around;
            gap: 10px;

            svg {
                height: 30px;
            }
        }
    }
}