@use '../abstracts/variables' as var;

#skills {
    margin-top: 10rem;
    margin-left: 40%;
    text-align: center;
    background-color: var.$secondary-color;
    padding: 2rem;

    .skill-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;


    }

    @media screen and (max-width: 768px) {
        .skill-container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 425px) {
        .skill-container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
}