@use '../abstracts/variables' as var;

#skills {
    margin-top: 10rem;
    margin-left: 40%;
    text-align: center;
    background-color: var.$secondary-color;
    padding: 2rem;

    .skill-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;


    }
}