@use '../abstracts/variables' as var;

.toTop {
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: var.$secondary-color;
        color: var.$white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 2rem;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.308);
        transition: all 0.3s ease-in-out;
    }

    #myBtn:hover {
        background-color: #555;
    }
}